.izq{
    width: 20%;
    height: 50px;
    border: 1px solid;
    float: left;
}
.der{
    width: 79%;
    height: 50px;
    border: 1px solid;
    float: left;
}
.cuerpo{
    width: 99.2%;
    height: 500px;
    border: 1px solid;
    float: left;
}